force-app/main/default/flows/HMIS_Accelerator_Hash_New_Person_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HashLastName</name>
        <label>HashLastName</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <actionName>HashString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringList</name>
            <value>
                <elementReference>$Record.PersonContact.LastName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HashString</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_First_Name_Set</name>
        <label>Is First Name Null</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonContact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FirstName_Contact</targetReference>
            </connector>
            <label>Yes - Set</label>
        </rules>
    </decisions>
    <description>Used to create Hashed data for HMIS reporting. Please know you will need to install the Hash Component using this link: https://login.salesforce.com/?ec=302&amp;startURL=%2Fpackaging%2FinstallPackage.apexp%3Fp0%3D04t8d00000027ot%26InstHostname%3Dlogin.salesforce.com</description>
    <environments>Default</environments>
    <formulas>
        <name>ReduceFirstNameCharacters</name>
        <dataType>String</dataType>
        <expression>TRIM(Right( {!HashLastName} , 25))</expression>
    </formulas>
    <formulas>
        <description>HMIS only allows up to 50 characters. This formula will shrink the hash limit to 25</description>
        <name>ReduceLastNameCharacters</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT( {!HashLastName} , 25))</expression>
    </formulas>
    <interviewLabel>HMIS Accelerator - Hash New Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HMIS Accelerator - Hash New Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_First_Name_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hashed_Last_Name_c__c</field>
            <value>
                <elementReference>ReduceFirstNameCharacters</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FirstName_Contact</name>
        <label>Update First Name Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hashed_First_Name__c</field>
            <value>
                <elementReference>ReduceLastNameCharacters</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HashLastName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
